* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: #eef5fa;
	font-family: "Segoe UI", sans-serif;
	color: #333;
}

img {
	width: 100%;
}

#app #editor {
	width: 100%;
	max-width: 800px;
	margin: 100px auto;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 24px 24px -18px rgb(69 104 129 / 33%), 0 9px 45px 0 rgb(114 119 160 / 12%);
	padding: 20px;
}

/* item  */
#app #editor .item {
	margin: 15px 0;
	padding: 2px;
	border: 2px dashed transparent;
	border-radius: 5px;
	transition: all 0.3s ease;
	position: relative;
}

#app #editor .item:first-child {
	margin-top: 0;
}

#app #editor .item:hover {
	border: 2px dashed #6677d8;
}

#app #editor .item > center > img {
	width: auto;
	max-height: 300px;
	border-radius: 8px;
}

#app #editor .item pre {
	font-size: 15px;
	background-color: #dfeffd;
	padding: 10px;
	border: 8px;
}

#app #editor .item .item-menu {
	display: flex;
	position: absolute;
	padding: 5px;
	right: 0;
	top: -45px;
	opacity: 0;
	transition: all 0.3s ease;
}

#app #editor .item:hover .item-menu {
	opacity: 1;
}

#app #editor .item-menu .action-option {
	width: 30px;
	display: flex;
	align-items: center;
	background-color: #c5c5c5;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 5px;
	padding: 5px;
}

#app #editor .item-menu .action-option:last-child {
	margin-right: 0;
}


/* add item menu  */

#app #editor #add-item {
	border: 2px dashed #c7c7c7;
	padding: 10px;
	border-radius: 8px;
	display: flex;
}

#app #editor #add-item .add-option {
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin: 0 10px;
}

#app #editor #add-item .add-option:first-child {
	margin-left: 0px;
}

/* hight light  */
#app #editor pre .hl-system {
	color: blue;
}