* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
}

.main {
    display: flex;
}

.main .me {
    width: 500px;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px;
    background-image: radial-gradient(circle, rgba(63,94,251,0) 0%, rgba(0,0,0,0.8) 100%), url("https://cdn.dribbble.com/users/150724/screenshots/6793830/000.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #247b73;
    position: relative;
}

.main .me .media {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.main .me .media .icon {
    width: 30px;
    height: 30px;
    fill: #fff;
    cursor: pointer;
    margin: 20px;
    transition: all .5s ease;
    padding: 5px;
    border-radius: 5px;
}

.main .me .media .icon:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main .me .bios {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    user-select: none;
}

.main .me .bios img {
    width: 100px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.main .me .bios h3 {
    font-size: 25px;
    user-select: text;
}

.main .me .bios p {
    font-size: 20px;
    color: #abaab1;
    user-select: text;
}

.main .content {
    box-sizing: border-box;
    padding: 30px;
}