/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0
}

body {
    background-color: #13001b;
    font-family: "Segoe UI", sans-serif;
    color: #f1e4e5;
}

img, canvas {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p {
    margin: 10px 0;
}

/*  usable  */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btw {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.f-m {
    font-size: 20px;
}

.f-light {
    opacity: .8;
}

/*  custom  */

.banner {
    width: 100%;
    min-height: 223px;
    position: relative;
}

.social-medias {
    width: 150px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.social-medias img {
    width: 40px;
    cursor: pointer;
}

.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 30px 0 0 0;
}

.menu ul .active {
    color: #e5b855;
}

.menu ul li {
    margin: 0 30px;
    cursor: pointer;
}

.content {
    max-width: 750px;
    width: 90%;
    margin: 100px auto;
}

.profile .thumb img {
    width: 200px;
    cursor: pointer;
}

.profile .bio {
    width: 500px;
}